---
layout: splash
author_profile: false
classes: wide
header:
  overlay_image: /assets/images/banner-1200-300.png
#  overlay_filter: rgba(119,51,221, 0.1) # same as adding an opacity of 0.5 to a black background
# overlay_filter: rgba(151,51,221, 0.05) # same as adding an opacity of 0.5 to a black background
  overlay_filter: rgba(130,51,255, 0.1) # same as adding an opacity of 0.5 to a black background
  caption: "Photo credit: Claude Falguière"
  actions:
    - label: "Lire le blog"
      url: /blog/
page_assets: /assets/images/landpage/
home_gallery:
  - url: /blog/
    image_path: /assets/presentations/voxxed-lu-2019/voxxed-lux-2019-falguiere/voxxed-lux-2019-falguiere.001.png
feature_row1:
  - url: /blog/pres-voxxed/
    image_path: /assets/presentations/voxxed-lu-2019/voxxed-lux-2019-falguiere/voxxed-lux-2019-falguiere.001.png
    btn_label: "Lire"
    btn_class: "btn--info"


---


<!-- FIXME -->

<!--
{% for item in site.data.navigation.landpage %}
  <a href="{{site.baseurl}}{{item.url}}" style="color:#eaeaea;">
    <div style="margin: 0 10px 10px 0;float:left;">
      <img style="max-height:329px;max-width:595px;height:100%x;width:100%;object-fit: contain;"
           src="{{site.baseurl}}{{page.page_assets}}{{item.image}}"/>
    </div>
  </a>
{% endfor %}
-->

<!--
{% include gallery id="home_gallery"  %}
-->

{% include feature_row id="feature_row1" type="center" %}
